{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Edit Task 🤠</title>
</head>
<body>
    <main>
        <div class="main-form">
            <form method="post" class="main-form-edit">
                {% csrf_token %}
                {% for form in forms %}
                <div class="main-form-edit--container">
                    <label for="">{{ form.label }}</label>
                    <input 
                    type="{{ form.field.widget.input_type }}"
                    name="{{ form.name }}" 
                    id="" 
                    aria-describedby="helpId" 
                    placeholder="{{ form.label }}" 
                    value="{{ form.value | default:'' }}"
                    class="main-form-input--edit"
                    />
                </div>
                <div>{{form.errors}}</div>
                {% endfor %}
                <div class="main-form--edit_buttons">
                    <input type="submit" value="Submit" class="submit-edit">
                    <a href="{% url 'tasks' %}" role="button" class="cancel-edit">Cancel</a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>