{% load  static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>To-Do App | Django 🤠</title>
</head>
<body>

    <main>
        <h1 class="main-title">Tasks</h1>
        <div class="main-form">
            <form action="{% url 'create_task' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Title">
                <textarea name="description" rows="3" placeholder="Description"></textarea>
                <button>Save</button>
            </form>
        </div>

        {% for task in tasks %}
            <div class="task-card">
                <div>
                    <h3>
                        {{task.title}}
                    </h3>
                    <p>{{task.description}}</p>
                </div>
                <div class="task-card--buttons">
                    <a href="{% url 'edit_task' task.id %}">Edit</a>
                    <form action="{% url 'delete_task' task.id %}" method="POST" class="delete-form">
                        {% csrf_token %}
                        <button>Delete</button>
                    </form>
                </div>
            </div>

        <!-- If the tasks table is empty show this... -->
        {% empty %}
        <h2>No tasks yet...</h2>
        {% endfor %}
    </main>

</body>
</html>